@page "/additem"
@using BlazorAppRESTAPIAssignments.Client.Services
@using BlazorAppRESTAPIAssignments.Shared.Models
@rendermode InteractiveAuto

<h1>Add item to basket</h1>

<EditForm Model="@ShoppingItemModel"
          OnValidSubmit="@(() => AddShoppingItemHandler(ShoppingItemModel))">

    <div>
        <label>Item name</label><br />
        <InputText @bind-Value="ShoppingItemModel.Name"></InputText>
    </div>

    <div>
        <label>Quantity</label><br />
        <InputNumber @bind-Value="ShoppingItemModel.Quantity"></InputNumber>
    </div>

    <button type="submit">Add to basket</button>
</EditForm>

<p>ErrorCode: @ErrorCode</p>


