@using BlazorApp.Models
<p>@Task.Name   @Task.Time</p>
<RadzenButton Click="AddMinute">+1 minut</RadzenButton>
<RadzenButton Click="SubtractMinute">-1 minut</RadzenButton>

@code {
    [Parameter, EditorRequired]
    public Todo Task { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<int> OnMinutesChanged { get; set; }

    private async Task AddMinute()
    {
        Task.Time++;
        await OnMinutesChanged.InvokeAsync(Task.Time);
    }

    private async Task SubtractMinute()
    {
        if (Task.Time > 0)
        {
            Task.Time--;
            await OnMinutesChanged.InvokeAsync(Task.Time);
        }
    }
}
